body.dv-Violet-header-style {
  
    .dv-navbar .dv-nav-right > ul > li.dropdown-user > a .dv-user-info span.user-name {
      color: $violet_color_style;
    }
  
    .dv-navbar .dv-nav-left .btn-open-modules {
      color: $violet_color_style_hover;
    }
  
    .dv-navbar .dv-nav-left .btn-open-modules:hover {
      color: $violet_color_style;
    }
  
    .ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
      color: $violet_color_style;
    }
  
    .dv-navbar .dv-nav-right > ul > li.dropdown-user .dropdown-menu .dropdown-item:hover, .dv-navbar .dv-nav-right > ul > li.dropdown-user .dropdown-menu .dropdown-item:focus {
      color: $violet_color_style $imp;
      background-color: #eeeeee;
    }
  
    .dv-navbar .dv-nav-right > ul > li.dropdown-user .dropdown-menu .dropdown-item.active, .dv-navbar .dv-nav-right > ul > li.dropdown-user .dropdown-menu .dropdown-item:active {
      color: #ffffff !important;
      background-color: $violet_color_style;
    }
  
    .dv-navbar .dv-nav-right > ul > li.dropdown-language .dropdown-menu .dropdown-item:hover, .dv-navbar .dv-nav-right > ul > li.dropdown-language .dropdown-menu .dropdown-item:focus {
      color: $violet_color_style $imp;
      background-color: #eeeeee;
    }
  
    .dv-navbar .dv-nav-right > ul > li.dropdown-language .dropdown-menu .dropdown-item.active, .dv-navbar .dv-nav-right > ul > li.dropdown-language .dropdown-menu .dropdown-item:active {
      color: #ffffff !important;
      background-color: $violet_color_style;
    }
  
    .dv-navbar .dv-nav-right > ul > li.dropdown-full-screen > button:hover, .dv-navbar .dv-nav-right > ul > li.dropdown-files > button:hover, .dv-navbar .dv-nav-right > ul > li.dropdown-search > button:hover {
      color: $violet_color_style !important;
    }
  
    .dv-navbar .dv-nav-right > ul > li.dv-dropdown-notifications > a:hover {
      color: $violet_color_style !important;
    }
}
